<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="2.29" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.16.1" targetFramework="net452" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.16.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.16.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net452" />
</packages>